<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Addin Module</title>
	<!-- css plugins -->
	<link rel="stylesheet" href="/static/addins/SampleAddin/css/deviceOn.css">
	<link rel="stylesheet" href="/static/addins/SampleAddin/css/common.css">
	<link rel="stylesheet" href="/static/addins/SampleAddin/css/custom_device.css">

	<!-- javascript plugins -->
	<script src="/static/addins/SampleAddin/libs/vue-2.6.10.min.js"></script>
	<script src="/static/addins/SampleAddin/libs/vue-tables-2-1.4.70.min.js"></script>
	<script src="/static/addins/SampleAddin/libs/axios.min.js"></script>
	<script src="/static/addins/SampleAddin/libs/sweetalert2.all.min.js"></script>
  <script src="/static/addins/SampleAddin/libs/vue-sweetalert2-2.1.1.min.js"></script>
  <script src="/static/addins/SampleAddin/libs/echarts-4.3.0.min.js"></script>
  <script src="/static/addins/SampleAddin/libs/moment-2.24.0.min.js"></script>
  <script src="/static/addins/SampleAddin/libs/vue-single-select.min.js"></script>

	<!-- javascript common plugins -->
	<script src="/static/addins/SampleAddin/js/RMMGlobal.js"></script>
  <script src="/static/addins/SampleAddin/js/DeviceOnApis.js"></script>
  <script src="/static/addins/SampleAddin/js/util.js"></script>
  <script src="/static/addins/SampleAddin/js/TestAPI.js"></script>

</head>
<body style="background: #F1F1F1;">
	<div id="app">
    <div class="content">
      <div style="padding: 2vw;">
        <div>
          <select class="top-select" v-model="selectStore" style="width: 195px">
            <option v-for="store in groups" :value="store">{{store}}</option>
          </select>
          <image height="17px" width="17px" src="/static/addins/SampleAddin/image/location.svg" style="margin: 0 10px 10px 10px"></image>
          <span style="font-size: 24px">{{selectStore}}</span>
        </div>
        <!--div class="row" style="margin-top:20px">
          <div class="col-md-3">
            <div class="top-grid" :style="{backgroundColor: getGroupBackgroundColor(1), borderLeft: 'solid 10px #E74A3B', height: (selectGroup==1?'140px':'110px')}" @click="clickGroup(1)">
              <table width="100%">
                <tbody>
                  <tr>
                    <td rowSpan="2" width="80px"><image height="70px" width="70px" :src="getGroupImage(1)"></image></td>
                    <td><span :style="{fontSize:45 + 'px', color: getGroupCountColor(1)}">{{deviceData_1.length}}</span></td>
                  </tr>
                  <tr><td><span :style="{color: getGroupNameColor(1)}">Main Device Exception</span></td></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-3">
            <div class="top-grid" :style="{backgroundColor: getGroupBackgroundColor(2), borderLeft: 'solid 10px #2091ED', height: (selectGroup==2?'140px':'110px')}" @click="clickGroup(2)">
              <table width="100%">
                <tbody>
                  <tr>
                    <td rowSpan="2" width="80px"><image height="70px" width="70px" :src="getGroupImage(2)"></image></td>
                    <td><span :style="{fontSize:45 + 'px', color: getGroupCountColor(2)}">{{deviceData_2.length}}</span></td>
                  </tr>
                  <tr><td><span :style="{color: getGroupNameColor(2)}">Peripheral Device Exception</span></td></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-3">
            <div class="top-grid" :style="{backgroundColor: getGroupBackgroundColor(3), borderLeft: 'solid 10px #36B9CD', height: (selectGroup==3?'140px':'110px')}" @click="clickGroup(3)">
              <table width="100%">
                <tbody>
                  <tr>
                    <td rowSpan="2" width="80px"><image height="70px" width="70px" :src="getGroupImage(3)"></image></td>
                    <td><span :style="{fontSize:45 + 'px', color: getGroupCountColor(3)}">{{deviceData_3.length}}</span></td>
                  </tr>
                  <tr><td><span :style="{color: getGroupNameColor(3)}">Software Exception</span></td></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-3">
            <div class="top-grid" :style="{backgroundColor: getGroupBackgroundColor(4), borderLeft: 'solid 10px #858796', height: (selectGroup==4?'140px':'110px')}" @click="clickGroup(4)">
              <table width="100%">
                <tbody>
                  <tr>
                    <td rowSpan="2" width="80px"><image height="70px" width="70px" :src="getGroupImage(4)"></image></td>
                    <td><span :style="{fontSize:45 + 'px', color: getGroupCountColor(4)}">{{deviceData_4.length}}</span></td>
                  </tr>
                  <tr><td><span :style="{color: getGroupNameColor(4)}">All Device</span></td></tr>
                </tbody>
              </table>
            </div>
          </div>
        </div-->
        <div width="100%" style="background-color:white; margin-top:20px; border: 2px solid #B6B6B6; box-shadow: 0px 2px 8px #00000075;">
          <div :style="{height: '117px', paddingLeft: '40px'}">
            <image height="30px" width="30px" :src="this.getSelectGroupIcon()" style="margin-bottom:10px"></image>
            <span :style="{margin: '40px 30px 0 20px', paddingRight: '30px', borderRight: 'solid 1px #B6B6B6',
                          fontSize: '24px', display: 'inline-block', color: getGroupBackgroundColor(selectGroup)}">
              {{this.getSelectGroupName()}}
            </span>
            <input type="text" class="InputStyle" placeholder="Search or start a new chat"
                style="width:330px; position:absolute;  right:50px; margin-top:40px;">
            </input>
          </div>
          <table style="width: 100%">
            <tbody>
              <tr class="rowDataHeader">
                <td width="15%">Name</td>
                <td width="10%">Type</td>
                <td width="15%">Device Status</td>
                <td width="15%">Software Status</td>
                <td width="15%">Peripheral Status</td>
                <td width="10%">Online</td>
                <td width="15%">Last Update</td>
              </tr>
            </tbody>
            <tbody>
              <tr v-for="(data, index) in deviceData_show">
                <td colspan="8">
                  <div @click="clickDevice(data)" style="width: 100%;">
                    <table style="width: 100%;">
                      <tbody>
                        <tr class="rowDataContent">
                          <td width="15%">{{data.name}}</td>
                          <td width="10%">{{data.type}}</td>
                          <td width="15%">{{data.deviceStatus}}</td>
                          <td width="15%">{{data.softwareStatus}}</td>
                          <td width="15%">{{data.peripheralStatus}}</td>
                          <td width="10%">{{data.online}}</td>
                          <td width="15%">{{data.lastUpdate}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <modal v-if="showModal_DeviceSetting">
        <div class="modal-mask" @click="showModal_DeviceSetting = false">
          <div class="modal-wrapper">
            <div class="modal-container" style="width:80%; overflow: auto; height: 90%;" @click.stop="">
              <div style="padding:10px">
                <span style="font-size:24px">{{selectDevice.name}}</span>
              </div>
              <button @click="settingType = 'usb'">usb</button>
              <button @click="settingType = 'monitor'">monitor</button>
              <button @click="settingType = 'printer'">printer</button>
              <button @click="settingType = 'software'">software</button>
              <div width="100%" style="margin-top:20px; border: 2px solid #B6B6B6; box-shadow: 0px 2px 8px #00000075;">
                <table style="width: 100%;" v-if="settingType=='usb'">
                  <tbody>
                    <tr class="rowDataHeader">
                      <td width="5%"></td>
                      <td>Name</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="rowDataContent" v-for="(data, index) in device_usblist">
                      <td><input type="checkbox" style="width:17px; height:17px; padding:0 10px;" v-model="data.checked" @click.stop="data.checked = !data.checked"></input></td>
                      <td>{{data.Name}}</td>
                    </tr>
                  </tbody>
                </table>
                <table style="width: 100%;" v-if="settingType=='monitor'">
                  <tbody>
                    <tr class="rowDataHeader">
                      <td width="5%"></td>
                      <td>Name</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="rowDataContent" v-for="(data, index) in device_monitorlist">
                      <td><input type="checkbox" style="width:17px; height:17px; padding:0 10px;" v-model="data.checked" @click.stop="data.checked = !data.checked"></input></td>
                      <td>{{data.MonitorName}}</td>
                    </tr>
                  </tbody>
                </table>
                <table style="width: 100%" v-if="settingType=='printer'">
                  <tbody>
                    <tr class="rowDataHeader">
                      <td width="5%"></td>
                      <td>Model</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="rowDataContent" v-for="(data, index) in device_printerlist">
                      <td><input type="checkbox" style="width:17px; height:17px; padding:0 10px;" v-model="data.checked" @click.stop="data.checked = !data.checked"></input></td>
                      <td>{{data.Model}}</td>
                    </tr>
                  </tbody>
                </table>
                <table style="width: 100%" v-if="settingType=='software'">
                  <tbody>
                    <tr class="rowDataHeader">
                      <td width="5%"></td>
                      <td>Name</td>
                    </tr>
                  </tbody>
                  <tbody>
                    <tr class="rowDataContent" v-for="(data, index) in device_softwarelist">
                      <td><input type="checkbox" style="width:17px; height:17px; padding:0 10px;" v-model="data.checked" @click.stop="data.checked = !data.checked"></input></td>
                      <td>{{data.Name}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button class="btnCancel" @click="showModal_DeviceSetting = false">
                Cancel
              </button>
              <button class="btnConfirm" @click="updateDevice()">
                Save
              </button>
            </div>
          </div>
        </div>
      </modal>
    </div>
	</div>
</body>
<script>
  Vue.use(VueTables.ClientTable);
	var vue = new Vue({
		el: '#app',
		data: {
      showModal_DeviceSetting: false,
      selectStore: '',
      optionsAction: ["Device Shutdown"],
      selectAction: 'Device Shutdown',
			columns: [
				'name',
				'type',
				'deviceStatus',
				'softwareStatus',
				'peripheralStatus',
				'online',
        'lastUpdate'
			],
      selectGroup: 4,
      groups:[],
      deviceData_1:[],
      deviceData_2:[],
      deviceData_3:[],
      deviceData_4:[],
      deviceData_show:[],
      device_usblist:[],
      device_monitorlist:[],
      device_printerlist:[],
      device_softwarelist:[],
      settingType:'usb',
      selectDevice: {},
      selectDeviceDetail: {},
		},
		mounted: function() {
      this.getAccountMySelf();
      this.getDeviceList();
		},
		methods: {
      getAccountMySelf: function() {
        TestAPI.accounts.post.account()
        .then(function (xhr) {
          if (xhr && xhr.data && xhr.data.groups) {
            //console.log("accountmyself data : " + JSON.stringify(xhr.data));
            var groups = [];
            for(var i=0 ; i<xhr.data.groups.length ; ++i) {
              if(xhr.data.groups[i].gid && xhr.data.groups[i].aid && xhr.data.groups[i].name) {
                if(vue.selectStore == '') {
                  vue.selectStore = xhr.data.groups[i].name;
                }
                groups.push(xhr.data.groups[i].name);
              }
            }
            //console.log(groups);
            vue.groups = groups;
          }
        });
      },
      getDeviceList: function() {
        TestAPI.device.post.list()
        .then(function (xhr) {
          if (xhr && xhr.data && xhr.data.devices) {
            //console.log("device list data : " + JSON.stringify(xhr.data));
            var deviceData_1 = [], deviceData_2 = [], deviceData_3 = [], deviceData_4 = [];
            for(var i=0 ; i<xhr.data.devices.length ; ++i) {
              var deviceData = {
                checked: false,
                name: xhr.data.devices[i].name,
                agentid: xhr.data.devices[i].agentid,
                type: xhr.data.devices[i].product,
                deviceStatus: xhr.data.devices[i].extra.connected ? "Normal" : "Abnormal",
                softwareStatus: xhr.data.devices[i].extra.softwareRunning ? "Normal" : "Abnormal",
                peripheralStatus: xhr.data.devices[i].extra.peripheralConnected ? "Normal" : "Abnormal",
                online: xhr.data.devices[i].extra.online ? "Online" : "Offline",
                lastUpdate: moment(xhr.data.devices[i].extra.lastUpdate*1000).format("YYYY/MM/DD HH:mm"),
                devicegroups: xhr.data.devices[i].devicegroups,
              };
              if(xhr.data.devices[i].extra.connected == false) {
                deviceData_1.push(deviceData);
              }
              if(xhr.data.devices[i].extra.softwareRunning == false) {
                deviceData_2.push(deviceData);
              }
              if(xhr.data.devices[i].extra.peripheralConnected == false) {
                deviceData_3.push(deviceData);
              }
              deviceData_4.push(deviceData);
            }
            vue.deviceData_1 = deviceData_1;
            vue.deviceData_2 = deviceData_2;
            vue.deviceData_3 = deviceData_3;
            vue.deviceData_4 = deviceData_4;
            vue.deviceData_show = deviceData_4;
            console.log("deviceData_show : ", this.deviceData_show);
          }
        });
      },
      getSelectGroupName: function() {
        if(this.selectGroup == 1) {
          return "Main Device Exception";
        } else if(this.selectGroup == 2) {
          return "Peripheral Device Exception";
        } else if(this.selectGroup == 3) {
          return "Software Exception";
        } else if(this.selectGroup == 4) {
          return "All Device";
        } else {
          return "";
        }
      },
      getSelectGroupIcon: function() {
        return "/static/addins/SampleAddin/image/group" + this.selectGroup + "_icon.svg";
      },
      getGroupImage: function(index) {
        if(this.selectGroup == index) {
          return "/static/addins/SampleAddin/image/group" + index + "_focus.png";
        } else {
          return "/static/addins/SampleAddin/image/group" + index + "_unfocus.png";
        }
      },
      getDeviceIconByGroup: function() {
        return "/static/addins/SampleAddin/image/Device" + this.selectGroup + ".svg";
      },
      getSoftwareIconByGroup: function() {
        return "/static/addins/SampleAddin/image/Software" + this.selectGroup + ".svg";
      },
      getPeripheryIconByGroup: function() {
        return "/static/addins/SampleAddin/image/Periphery" + this.selectGroup + ".svg";
      },
      getPrinterIconByGroup: function() {
        return "/static/addins/SampleAddin/image/Printer" + this.selectGroup + ".svg";
      },
      getGroupNameColor: function(index) {
        if(this.selectGroup == index) {
          return "white";
        } else {
          switch(index) {
            case 1: return "#E74A3B"; break;
            case 2: return "#2091ED"; break;
            case 3: return "#36B9CD"; break;
            case 4: return "#858796"; break;
          }
          return "black";
        }
      },
      getGroupCountColor: function(index) {
        if(this.selectGroup == index) {
          return "white";
        } else {
          return "black";
        }
      },
      getGroupBackgroundColor: function(index) {
        if(this.selectGroup == index) {
          switch(index) {
            case 1: return "#E74A3B"; break;
            case 2: return "#2091ED"; break;
            case 3: return "#36B9CD"; break;
            case 4: return "#858796"; break;
          }
          return "white";
        } else {
          return "white";
        }
      },
      clickGroup: function(index) {
        this.selectGroup = index;
        switch(index) {
          case 1:
            this.deviceData_show = this.deviceData_1;
          break;
          case 2:
            this.deviceData_show = this.deviceData_2;
          break;
          case 3:
            this.deviceData_show = this.deviceData_3;
          break;
          case 4:
            this.deviceData_show = this.deviceData_4;
          break;
          default:
            this.deviceData_show = this.deviceData_4;
        }
        console.log("deviceData_show : ", this.deviceData_show);
      },
      clickDevice:function(device) {
        vue.selectDevice = device;
        vue.showModal_DeviceSetting = true;
        vue.getDeviceDetail();
        /*this.getDeviceUSB(device.agentid);
        this.getDeviceMonitor(device.agentid);
        this.getDeviceProcess(device.agentid, function(agentid) {
          vue.getDeviceService(agentid);
        });
        //this.getDeviceService(device.agentid);
        this.getDevicePrinter(device.agentid);*/
      },
      getDeviceDetail: function() {
        vue.selectDeviceDetail = {};
        TestAPI.device.post.detail(vue.selectDevice.agentid)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("getDeviceDetail data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.selectDeviceDetail = xhr.data;
              vue.getDeviceUSB();
              vue.getDeviceMonitor();
              vue.getDevicePrinter();
              vue.getDeviceProcess();
            } else {
              vue.device_usblist = [];
            }
          }
        });
      },
      getDeviceUSB: function() {
        TestAPI.device.post.usblist(vue.selectDevice.agentid)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("getDeviceUSB data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.device_usblist = xhr.data.data;
              for(var i=0 ; i<vue.device_usblist.length ; ++i) {
                var checked = false;
                for(var j=0 ; j<vue.selectDeviceDetail.usbList.length ; ++j) {
                  if(vue.device_usblist[i].Path == vue.selectDeviceDetail.usbList[j].Path) {
                    checked = true;
                    break;
                  }
                }
                vue.device_usblist[i].checked = checked;
              }
            } else {
              vue.device_usblist = [];
            }
          }
        });
      },
      getDeviceMonitor: function() {
        TestAPI.device.post.monitorlist(vue.selectDevice.agentid)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("getDeviceMonitor data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.device_monitorlist = xhr.data.data;
              for(var i=0 ; i<vue.device_monitorlist.length ; ++i) {
                var checked = false;
                for(var j=0 ; j<vue.selectDeviceDetail.monitorList.length ; ++j) {
                  if(vue.device_monitorlist[i].MonitorName == vue.selectDeviceDetail.monitorList[j].MonitorName) {
                    checked = true;
                    break;
                  }
                }
                vue.device_monitorlist[i].checked = checked;
              }
            } else {
              vue.device_monitorlist = [];
            }
          }
        });
      },
      getDeviceProcess: function() {
        TestAPI.device.post.processlist(vue.selectDevice.agentid)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("getDeviceProcess data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.device_softwarelist = xhr.data.data;
            } else {
              vue.device_softwarelist = [];
            }
          }
          vue.getDeviceService();
        });
      },
      getDeviceService: function() {
        TestAPI.device.post.servicelist(vue.selectDevice.agentid)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("getDeviceService data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              var tmpArray = this.device_softwarelist || [];
              for(var i=0 ; i<xhr.data.data.length ; ++i) {
                tmpArray.push(xhr.data.data[i]);
              }
              vue.device_softwarelist = tmpArray;
              for(var i=0 ; i<vue.device_softwarelist.length ; ++i) {
                var checked = false;
                for(var j=0 ; j<vue.selectDeviceDetail.ProcessList.length ; ++j) {
                  if(vue.device_softwarelist[i].Name == vue.selectDeviceDetail.ProcessList[j].Name) {
                    checked = true;
                    break;
                  }
                }
                vue.device_softwarelist[i].checked = checked;
              }
            }
          }
        });
      },
      getDevicePrinter: function() {
        TestAPI.device.post.printerlist(vue.selectDevice.agentid)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("getDevicePrinter data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.device_printerlist = xhr.data.data;
              for(var i=0 ; i<vue.device_printerlist.length ; ++i) {
                var checked = false;
                for(var j=0 ; j<vue.selectDeviceDetail.printerList.length ; ++j) {
                  if(vue.device_printerlist[i].Model == vue.selectDeviceDetail.printerList[j].Model.Model) {
                    checked = true;
                    break;
                  }
                }
                vue.device_printerlist[i].checked = checked;
              }
            } else {
              vue.device_printerlist = [];
            }
          }
        });
      },
      updateDevice: function() {
        switch(vue.settingType) {
          case 'usb':
            vue.updateDeviceUSB();
          break;
          case 'monitor':
            vue.updateDeviceMonitor();
          break;
          case 'printer':
            vue.updateDevicePrinter();
          break;
          case 'software':
            vue.updateDeviceSoftware();
          break;
        }
      },
      updateDeviceUSB: function() {
        var itemList = [];
        for(var i=0 ; i<vue.device_usblist.length ; ++i) {
          if(vue.device_usblist[i].checked == true) {
            itemList.push(vue.device_usblist[i]);
          }
        }
        TestAPI.device.post.usbUpdate(vue.selectDevice.agentid, itemList)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("updateDeviceUSB data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.getDeviceDetail();
            }
          }
        });
      },
      updateDeviceMonitor: function() {
        var itemList = [];
        for(var i=0 ; i<vue.device_monitorlist.length ; ++i) {
          if(vue.device_monitorlist[i].checked == true) {
            itemList.push(vue.device_monitorlist[i]);
          }
        }
        TestAPI.device.post.monitorUpdate(vue.selectDevice.agentid, itemList)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("updateDeviceMonitor data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.getDeviceDetail();
            }
          }
        });
      },
      updateDevicePrinter: function() {
        var itemList = [];
        for(var i=0 ; i<vue.device_printerlist.length ; ++i) {
          if(vue.device_printerlist[i].checked == true) {
            itemList.push(vue.device_printerlist[i]);
          }
        }
        TestAPI.device.post.printerUpdate(vue.selectDevice.agentid, itemList)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("updateDevicePrinter data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.getDeviceDetail();
            }
          }
        });
      },
      updateDeviceSoftware: function() {
        var itemList = [];
        for(var i=0 ; i<vue.device_softwarelist.length ; ++i) {
          if(vue.device_softwarelist[i].checked == true) {
            itemList.push(vue.device_softwarelist[i]);
          }
        }
        TestAPI.device.post.processUpdate(vue.selectDevice.agentid, itemList)
        .then(function (xhr) {
          if (xhr && xhr.data) {
            console.log("updateDeviceSoftware data : ", xhr.data);
            if(xhr.data.errorcode == 0) {
              vue.getDeviceDetail();
            }
          }
        });
      },
    },
		computed: {}
	});
</script>
</html>
